.footerParent{
    width: 100vw;
    height: 500px;
    background-color: #252F42;
}
.footerContainer{
    margin: 0 auto;
    width: 80vw;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footerHeading{
    color: #EEEEEE;
    margin: 0px;
}
p{
    margin: 0px;
    color: #97A5B6;
}
.copyRight{
    margin-left: 10%;
}