.contactGridParent{
    background-color: #EDF2F6;
}
.inputGrid{
    width: 80vw;
    margin: 0 auto;
    height: 350px;
    margin-bottom: 10px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  ;
    row-gap: 10px;
    align-content: stretch;   
    justify-content: stretch; 
} 
@media(min-width:700px) {
    .inputGrid{
        grid-template-columns: 1fr 1fr;
    }
}
input{
    height: 50px;
    font-size: 16px;
}
